@import url('https://fonts.googleapis.com/css2?family=Outfit:ital,wght@0,400;0,600;0,800;1,800&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand: #f97316; /* orange-500 */
  --color-surface: #09090b; /* zinc-950 */
}

@layer base {
  body {
    @apply bg-surface text-white antialiased selection:bg-brand selection:text-white;
  }
}

.text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
  color: transparent;
}

.text-editorial-hero {
  @apply font-black tracking-tighter italic leading-none;
}

.glass-effect {
  @apply backdrop-blur-xl bg-white/3 border border-white/5;
}
